<%= form_with(model: buffer) do |form| %>
  <% if buffer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buffer.errors.count, "error") %> prohibited this buffer from being saved:</h2>

      <ul>
        <% buffer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
